 <form class="example-form">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" placeholder="pat@example.com" [formControl]="email" #newemail required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #newpassword required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #newpasswordconfirm required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit(newemail.value, newpassword.value, newpasswordconfirm.value)">Login</button>
</form>
