<h1>{{ title }}</h1>
<form class="example-form">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" placeholder="pat@example.com" [formControl]="email" #newemail required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" #newpassword required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="passwordconfirm" #newpasswordconfirm required>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordconfirm.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Company</mat-label>
        <input matInput type="text" value="FH Technikum Wien" #company readonly>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your address</mat-label>
        <textarea matInput placeholder="Street" #newaddress></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your address</mat-label>
        <input matInput type="text" placeholder="City" #newaddress>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Enter your postalcode</mat-label>
        <input matInput [formControl]="postal" placeholder="1234" #newpostalcode>
        <mat-error *ngIf="postal.invalid">{{getPostalErrorMessage()}}</mat-error>
    </mat-form-field>
    <strong><span>{{ error }}</span></strong>
    <br>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit(newemail.value, newpassword.value, newpasswordconfirm.value, company.value, newaddress.value, newpostalcode.value)">Registrieren
    </button>
</form>
